.chat_container{
display: flex;
flex-direction: column;
height: 100vh;
position: relative;
}
/* 
.chat_container_nav{
    flex: 0;
} */

.chat_content{
    flex: 2;
    display: flex;
}
.chat_content_left{
    display: flex;
    flex-direction: column;
    width: 21%;
    padding: 30px 0px;
    padding-left: 50px;
    /* padding: 135px 0px;
    padding-left: 50px;   */
}

.chat_content_right{
    width: 79%;
    background-color: rgb(239, 241, 245);
    /* padding: 75px 0px; */
   
   
}

.chat_reels{
    flex: 2;
}

.chat_reels p{

    font-size: 12px;
    margin-bottom: 12px;
}

.chat_reels_content{
    flex: 2;
    display: flex;
    column-gap: 11px;
    overflow: scroll;
    
 
}

.chat_reels_content div{
border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid var(--primary-color);
}

.chat_reels_content div img{

    width: 100%;
    height: 100%;
}

.chat_lits{
    flex: 10;
    padding: 20px 0px;
  
}

.chat_lits p{
    font-size: 12px;
    margin-bottom: 32px;
}

.chat_lits_content{
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 31px;
    cursor: pointer;
}

.chat_lits_content_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat_lits_content_image img{
    width: 100%;
    height: 100%;
}

.chat_lits_content_text h3{
font-size: 15px;
font-weight: 800;
}

.chat_lits_content_text span{
    font-size: 11px;
    }

    .chat_lits_content_text1 {
        display: flex;
        align-items: center;
        column-gap: 7px;
    }
/* 
.chat_content{
    display: flex;
    height: 100vh !important;
    position: relative;
}

.chat_content_left{
    width: 21%;
    padding: 135px 0px;
    padding-left: 50px;


    background-color: red;
}

.chat_content_right{
    width: 79%;
    background-color: rgb(239, 241, 245);
    padding: 35px 0px;
    padding-top: 135px;
    position: sticky;
    overflow-y: scroll;
  height: 100% !important;
} */