:root{
  --primary-color:#BC72FB;
  --text-color: #4A4A4A;
  /* --secondary-color: #65676F;
  --secondary-text: #C4C4C4;
  --primary-link-color: #003896; */
} 

button{
  cursor: pointer;
}
/* :root h1{
  color: #505759;
  font-weight: 700;
} */

/* @media screen and (min-width:1513px) {
  .App{
    background-color: white !important;
  }
} */
